ffpyplayer
kivy
kivymd
music_tag
https://github.com/kivy/plyer/archive/master.tar.gz
python-dotenv
https://github.com/JosiasAurel/pytube/archive/patch-regex.tar.gz
requests
spotipy
unidecode
https://github.com/ytdl-org/youtube-dl/archive/master.tar.gz
youtube_search