certifi>=2024.8.30
ffpyplayer
Kivy==2.1.0
kivymd==1.0.2
music_tag==0.4.3
Pillow==8.4.0
plyer==2.1.0
python-dotenv==0.21.1
pytube
requests>=2.32.3
spotipy==2.22.1
Unidecode==1.3.6
youtube-search==2.1.2
yt-dlp>=2024.8.6
ytmusicapi==1.7.5