ffpyplayer
kivy
kivymd
music_tag
https://github.com/kivy/plyer/archive/master.tar.gz
python-dotenv
https://github.com/JosiasAurel/pytube/archive/patch-regex.tar.gz
requests
spotipy
unidecode
yt-dlp
youtube_search
ytmusicapi